/* *{
    font-family: sankyu;
} */
h2{
    font-family: 'Borel', cursive;
    font-variant: small;
    font-size: 5em; 
    /* em=16px */
    font-weight: bold;
    color: aqua;
    text-align: center;
}
#text-effects{
    text-shadow: 10px 5px 10px red;
}
p{
    text-shadow: 2px 4px 5px red;

}
#nowordwrap{

    width: 150px;
    margin: 10px;
    border: 1px solid black;
    text-shadow: 10px 5px 10px red;


}
#wordwrap{
    word-wrap: break-word;
    width: 150px;
    margin: 10px;
    border: 1px solid red;
    text-shadow: 10px 5px 10px red;


}

/* additional font face  */

@font-face {
    font-family: sankyu;
    src: url('sankyu/Sankyu.ttf');
}
.fontc{
    font-family: sankyu;
}

/* animation in css3 */

.batrun{
    width: 100%; height: 100px; 
    
    position: relative;

}
.batrun img{
    width: 140px; height: 120px;
    position: absolute;
    left:0; top: -19px;
    animation-name: batrunner;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

@keyframes batrunner{
    from{left: 0;}  
    to { left: 85%;}
}

/* transition in css  */

.ihover{
    
    height: 50px; width: 50px;
    margin: auto;
    transition-property: width, height;
    transition-duration: 0.5s;
    transition-timing-function: linear;

}
.ihover:hover{
    height: 100px; width: 100px;

}

/* mutliple colum in css */

.para{
    column-count: 3;
    column-rule: 2px  dashed;
    column-gap: 50px;
    column-rule-color: green;
    text-align: justify;
}

/* boorder shadow */

#boxes{
    width: 100%;
    height: 506px;
    /* background-color: rgb(197, 255, 197); */
    border: 4px solid red;
    /* background-image: url(pic1.png); */
    position:relative;
    /* margin: auto; */
    
}

.boxshadow1{
    width: 350px;
    height:500px;
    background-color: yellow;
    position: absolute;
    /* background-image: url(pic1.png); */
    border: 4px solid black;
    border-radius: 500px;
}
.boxshadow1 img{
height: 100%; width: 100%;
}
.boxshadow2{
    width: 350px;
    height:500px;
    background-color: blue;
    position: absolute;
    right: 2%;
    /* background-image: url(pic2.png); */
    border: 4px solid rgb(47, 210, 26);
    border-radius: 500px;
}
.boxshadow2 img{
    height: 100%; width: 100%;
}
.boxshadow3{
    width: 350px;
    height:500px;
    background-color: #0834e4;
    position: absolute;
    right: 40%;
    /* background-image: url(pic3.png); */
    ;
    border: 4px solid #eadf16;
    border-radius: 500px;
}
.boxshadow3 img{
    height: 100%; width: 100%;
}

.img-fluid{
    border-radius: 500px;

}
.card{
    box-shadow: 15px 15px 30px 8px #48b6c9;
}

/* img-fluid is bootstrap 4 sysntax for image animation */

